doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        link(href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css', type='text/css', rel='stylesheet')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/word-options.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/glove.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/similarity.js')
        script.
            $(document).ready(function () {
                if (jQuery.ui) {
                $("#slider").slider({
                                        step: 2, min: 0, max: 1000, slide: function (e, ui) {
                        sliderMoving(ui.value)

                    }, change: function (e, ui) {
                        sliderUp(ui.value)
                        console.log("stopped:", ui.value)
                    }
                                    })
            } else {
                alert("no jquery ui")
            }
            $("#slider").slider('value', 1000);
                var socket = io();
                setup($('#mainbody'), "#{user.username}", socket, "#{file_path}")
            });
            var unescapeHTML = function(safe_str){
                return 'hello'
            }

    body.bodygrad
        #menu.banner
            h2 Content Page #{data}
            ul
                li
                    | Logged in as:
                    strong #{user.displayname}
                li
                    a(href='/signout', title='sign out') sign out
        #slider
        #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
        a(href='/', title='Home Page') back


