doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup($('#page'), "#{user.workerId}", "#{assignmentId}", socket)
                if ("#{user.assignmentId}" == "ASSIGNMENT_ID_NOT_AVAILABLE"){
                    console.log('assignmet disabled' + '#{user.assignmentId}')
                    $('#confirmInput').prop('disabled', true)
                    $('#confirmInput').html('Accept HIT to submit')
                }else{
                    console.log('assignent enabled!!'+ '#{user.assignmentId}')
                    $('#confirmInput').prop('disabled', false)
                    $('#confirmInput').html('submit')
                }
            });
            function post_it(parameters) {
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(parameters, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                form.submit();
            }

    body.bodygrad
        #page.pageContainer
            ul
                li
                    | Points:
                    spans#pointsEarned.bold
                    br
                    | Type:
                    span#userType.bold #{user.learnerType}
            #isPreview
            #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
            button#confirmInput(type='button',  onclick="post_it({ 'foo': 'bar', 'assignmentId': '#{user.assignmentId}'})")
