doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup($('#page'), "#{user.workerId}", "#{assignmentId}", socket)
            });
            function post_form() {
                completedTask()
                var form = document.getElementById('macaronicForm')
                form.submit()
            }

    body.bodygrad
        #page.pageContainer
            ul
                li
                    | Id:
                    span#workerId.bold #{user.workerId}
                    br
                    | Points:
                    spans#pointsEarned.bold #{user.workerId}
                    br
                    | Type:
                    span#userType.bold #{user.learnerType}
                    | AssignmentId
                    span#assignmentIdSpan.bold #{assignmentId}
            form#macaronicForm(action='https://workersandbox.mturk.com/mturk/externalSubmit', method='post')
                input#assignmentId(type='hidden', value="#{assignmentId}")
                #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
                input#confirmInput(type='submit', value='Submit',  onclick='post_form()')
