doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/regex_tokenizer.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/PorterStemmer1980.min.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup("#{user.username}", socket, parseInt("#{ui_version}"), false)
                assignmentId = "#{user.assignmentId}"
                hitId = "#{hitId}"

            });
            function post_it(parameters) {
                var params = get_post_parameters()
                _.extend(params, parameters)
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(params, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                form.submit();
            }

    body.bodygrad
        #page.pageContainer
            ul
                li
                    | Username:
                    spans#userType.bold #{user.username}
                    br
                    | Points:
                    span#pointsEarned.bold
            #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
            button#confirmInput(type='button',  onclick="post_it({ 'foo': 'bar', 'assignmentId': '#{user.assignmentId}'})") Submit
