doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/word-options.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/regex_tokenizer.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/PorterStemmer1980.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/discrete.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup("#{user.username}", socket, parseInt("#{ui_version}"), false ,"#{sentence_prefered}")

                if ("#{user.assignmentId}" === ""){
                    assignmentId = "ASSIGNMENTID_NOT_AVAILABLE"
                }else{
                    assignmentId = "#{user.assignmentId}"
                }
                if ("#{hitId}" === ""){
                    hitId = "HIT_ID_NOT_AVAILABLE"
                }else{
                    hitId = "#{hitId}"
                }

            });

            document.addEventListener("visibilitychange", function() {
                if (document.hidden) {
                    console.log("not visible!!!")
                } else {
                    console.log("visible!!!")
                    if ($('#confirmInput').prop("disabled") == true){
                        updateMessageBox('<b>Please do not visit other pages/tabs while making guesses.</b>', true)
                        emitUserTabOut()
                    }


                }
            });


            function post_it(parameters) {
                var params = get_post_parameters()
                _.extend(params, parameters)
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "#{submit_url}");
                //form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(params, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                if ("#{submit_url}" == ""){
                    console.log("not submitting to mturk")
                    get_new_task("#{sentence_prefered}")
                }else{
                    console.log("submit to :" + "#{submit_url}")
                    form.submit();
                }
                updateMessageBox('For each foreign word, guess its meaning in the text box below it')
            }

    body.bodygrad
        #page.pageContainer
            ul.hit
                li.hit
                    | Username:
                    spans#userType.bold #{user.username}
                    br
                    | Points:
                    span#pointsEarned.bold
            span#Instruction.instructions(onclick="toggle_instructions()") Instructions:
            br
            span#messageBox.instructions(onclick="toggle_instructions()")
            br
            #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
            br
            button#confirmInput(type='button',  onclick="post_it({ 'foo': 'bar', 'assignmentId': '#{user.assignmentId}'})") Submit

