doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/word-options.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/regex_tokenizer.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/PorterStemmer1980.min.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup("GUEST", socket, parseInt("#{ui_version}"), true)
                if ("#{user.assignmentId}" == "ASSIGNMENT_ID_NOT_AVAILABLE"){
                    console.log('assignmet disabled' + '#{user.assignmentId}')
                    $('#confirmInput').prop('disabled', true)
                    $('#confirmInput').html('Accept HIT to view tasks & Submit')
                }else{
                    console.log('assignent enabled!!'+ '#{user.assignmentId}')
                    $('#confirmInput').prop('disabled', false)
                    $('#confirmInput').html('submit')
                }
            });
            function post_it(parameters) {
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(parameters, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                form.submit();
            }

    body.bodygrad
        #page
            h3 Instructions:
            ul
                li Guess the correct translation of each foreign word in a sentence and get points for a translation.
                li After making intial guesses click
                    b 'Submit Guess'
                li Correct guesses will be shaded green, and incorrect guesses shaded red.
                li Also - One of the foreign words will be revealed as a Clue (shaded in blue)
                li Now you can re-evaluate your guesses, and edit your old guesses.
                li
                    b Tip: Think of the revealed words and how they fit with your previous guesses
                li Repeat this process untill all clues are revealed.

            h4 Points:
            ul
                li At the end, click
                    b 'Calculate Score'
                li For each correct guess (before it was revealed) you will earn one point.
                li Points will be accumilated from each hit.

            h4
                | Bonus:
            p
                | Try and accumilate as many points as possible, you can do this by:
            ul
                li  Making good guesses with out using too many clues.
            p
                b Bonuses will be issued to individuals who accumilate high points!

            h4 Review:
            ul
                li All submissions will be accepted within 5 days.
                li HITs which earn 0 points will be checked in detail before accepted.
                li Too many HITs with 0 points might result in a rejection of the HIT.


