doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/word-options.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/regex_tokenizer.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/PorterStemmer1980.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/discrete.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup("#{user.username}", socket, parseInt("#{ui_version}"), false ,"#{sentence_prefered}")

                if ("#{user.assignmentId}" === ""){
                    assignmentId = "ASSIGNMENTID_NOT_AVAILABLE"
                }else{
                    assignmentId = "#{user.assignmentId}"
                }
                if ("#{hitId}" === ""){
                    hitId = "HIT_ID_NOT_AVAILABLE"
                }else{
                    hitId = "#{hitId}"
                }

            });
            function post_it(parameters) {
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(parameters, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                form.submit();
            }

    body.bodygrad
        #page
            h3 Instructions:
            ul
                li Guess the correct translation of each foreign word in a sentence and get points for a translation.
                img(src='images/initial.png')
                li Example of an initial Guess:
                img(src='images/first_guess.png')
                li After making intial guesses click
                    b 'Submit Guess'
                li After submission you will get a clue to guess meanings of the remaing words.
                ul
                    li One of the foreign words will be revealed as a Clue (shaded in blue)
                    li Or the ordering of the foreign words will change (not in the example picture)
                img(src='images/a_guess_nfb.png')

                li Now you can re-evaluate your guesses, and edit your old guesses.
                li
                    b Tip:
                    | Think of the revealed words and how they fit with your previous guesses
                img(src='images/edit_nfb.png')
                li It is not required to edit/update your guess every time a clue is revealed. (you can simply submit the same guesses again)
                li Repeat this process untill all clues are revealed.

            h4 Points :
            ul
                li At the end, the foreign sentence will transform into a full english sentence, click
                    b 'Calculate Score'

                img(src='images/completed_nfb.png')
                li For each correct guess (green shaded box) you will earn one point.
                li Points will be accumulated from each hit.
                li Click the
                    b 'Submit'
                | button to get the next HIT.


            h4 Bonus
            ul
                li Try and accumulate as many points as possible, you can do this by:
                li Making good guesses with out using too many clues.
            p
                b Bonuses will be issued to individuals who accumulate high points!

            h4 Review & Rules:
            ul
                li All submissions will be accepted within 5 days.
                li Please type in full english words or very short phrases (2 words).
                li
                    b Please do not type nonsense words.
                li If you don't have a reasonable guess you can leave it blank.
                li Do not look up words in a dictionary or another web site.




