doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/word-options.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/regex_tokenizer.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/PorterStemmer1980.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/discrete.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup("#{user.username}", socket, parseInt("#{ui_version}"), true ,"#{sentence_prefered}")

                if ("#{user.assignmentId}" === ""){
                    assignmentId = "ASSIGNMENT_ID_NOT_AVAILABLE"
                }else{
                    assignmentId = "#{user.assignmentId}"
                }
                if ("#{hitId}" === ""){
                    hitId = "HIT_ID_NOT_AVAILABLE"
                }else{
                    hitId = "#{hitId}"
                }

            });
            function post_it(parameters) {
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(parameters, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                form.submit();
            }

    body.bodygrad
        #page
            h3 Instructions:
            ul
                li Guess the correct translation of each foreign word in a sentence and get points for a translation.
                li After making intial guesses click
                    b  'Submit Guess'
                li Correct guesses will be shaded green and will earn points. (value of each guess is shown below each text box)
                li If you are not able to make correct guesses, click on
                    b  'Get Random Clue'
                li
                    b Note:
                    |  Each time to get a random clue the value of each guess will reduce!
                li
                    ul
                        li One (or more) of the foreign will be shown in english (in blue text)
                        li Or some words in the foreign sentence will be reordered (light blue shading)
                li Now you can re-evaluate your guesses and try again.
                li Repeat this process untill you have guess all words correctly or till the entire sentence is revealed.
                li
                    b Effort Points
                    |  are awarded at random, even if your guess is incorrect. (up to 10 points)

            h4 Bonus
            ul
                li  To qualify for the bonus, you must completed at least 25 HITs.
                li
                    b Bonuses will be issued primarily based on points earned and quality of guesses (i.e. not random/nonsense words)
                li
                    b Helpful tips:
                    ul
                     li Fewer clues will ensure that you get more points for every correct guess.
                     li Make a few initial guesses to get maximum points, at least for the easy words.
                     li Harder words will earn more points, so do not give up on them!!

            h4 Example:
            ul
                li Below is a live example of the type of content you will see. Try guessing below!
            #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
            button#confirmInput(type='button',  onclick="post_it({ 'foo': 'bar', 'assignmentId': '#{user.assignmentId}'})") Accept HIT to Proceed
            br
            h4 Review & Rules:
            ul
                li All submissions will be accepted within 5 days.
                li Please type in full english words or very short phrases (2 words).
                li
                    b Please do not type nonsense words!!
                li If you don't have a reasonable guess you can leave them blank and get more clues.
                li Do not look up words in a dictionary or another web site.





