doctype
html
    head
        title #{title}
        link(type='text/css', rel='stylesheet', href='/MacaronicParseUI/css/coe.css')
        link(type='text/css', rel='stylesheet', href='/shell/css/style.css')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-1.11.3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/socket.io.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/messages.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery-ui.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/collection-o-edits.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jsonstrings-coe.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/underscore-min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/knockout-3.3.0.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.straightline.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.curvedarrow.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/treemethods.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/coe-utils.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/d3.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/jquery.d3.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/regex_tokenizer.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/PorterStemmer1980.min.js')
        script(type='text/javascript', src='/MacaronicParseUI/js/bleu.js')
        script.
            $(document).ready(function () {
                var socket = io();
                setup("GUEST", socket, parseInt("#{ui_version}"), true)
                if ("#{user.assignmentId}" == "ASSIGNMENT_ID_NOT_AVAILABLE"){
                    console.log('assignmet disabled' + '#{user.assignmentId}')
                    $('#confirmInput').prop('disabled', true)
                    $('#confirmInput').html('Accept HIT to view tasks & Submit')
                }else{
                    console.log('assignent enabled!!'+ '#{user.assignmentId}')
                    $('#confirmInput').prop('disabled', false)
                    $('#confirmInput').html('submit')
                }
            });
            function post_it(parameters) {
                console.log("called post...", parameters)
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", "https://workersandbox.mturk.com/mturk/externalSubmit");
                $.each(parameters, function(key, value) {
                    var field = $('<input></input>');
                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);
                    form.append(field);
                    console.log("name", key , "val", value);
                });
                $(document.body).append(form);
                completedTask()
                form.submit();
            }

    body.bodygrad
        #page
            h3 Instructions:
            h4 Goal:
            ul
                li Guess the correct translation of a foreign sentence and get points for a translation.
            h4 Clues:
            ul
                li
                    b Clicking on the words
                    |  of the foreign sentence reveals clues about the meaning of the sentence.
                li  Each clue will cost you 1 point (grey color).
                li  Note: You have a
                    b  limited number of clues
                    |   per sentence!
            h4
                | 1. Attempt Translation:
            ul
                li Once you feel you have understood the meaning of the sentence click 'Attempt Translation'.
                li A text box will now appear under the foreign sentence. Type in your guess for its translation in english.
                li
                    b Note: You will not be able to get any more clues when you attempt the translation!
                li You will get points (0 - 20 points) for good translations (green)
                li
                    b Remember: the translations do not have to be perfect, you just have to make good guesses!
            h4
                | 2. Score Translation
            ul
                li Once you type your translation, click 'Score Translation'
                li The points for your translation will appear in Green.

            h4 3. Submit:
            p
                | You need at least 4 green points to submit the hit,
                | upon submission points from remaining clues and translation will be added towords your total points earned.

            h4.red
                |  Example:
            p
                | Here is an example of the kind of sentences you will see when you accept the hit.
                br
                | Click around to get familiar with the game (the points in the example won't count)
            #mainbody(style='margin-bottom:20;margin-top:20;margin-left:20;margin-right:20;')
            button#confirmInput(type='button',  onclick="post_it({ 'foo': 'bar', 'assignmentId': '#{user.assignmentId}'})")


            h4
                | Bonus:
            p
                | Try and accumilate as many points as possible, you can do this by:
            ul
                li  Using the fewest clues possible (you should try to remember what the foreign words mean)
                li  Typing in best translations
            p
                b Bonuses will be issued to individuals who accumilate high points!

